#OpenAI API key for langChain
OPENAI_API_KEY=...

# Base Mainnet
BASE_RPC_URL=
BASE_CHAIN_ID=



#Funded base seposa wallet for gas
HOT_WALLET_PRIVATE_KEY=0x...

# Basescan API key
BASESCAN_API_KEY=...

# Set after running the Hardhat deploy script
FACTORY_CONTRACT_ADDRESS=0x...

JWT_SECRET=your-128-bit-jwt-secret